*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
.product{
   display: flex;
    flex-wrap: wrap;
   

}
.eachproduct{
    width: 200px;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
   justify-content: space-around;
    margin: 10px;
}
.category{
    
    border: 3px solid gray;
    padding: 10px;
}
.featured{
    width: 98%;
    height: 400px;
    background-color: red;
}

footer{
    background-color: black;
    color: white;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
a{
    color: white;
}
.cart{
    background-color: #DB4444;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}
.cat{
    margin-top: 20px;
    border: none;
    background-color: wheat;
    border-radius: 10px;
}

.cartItem{
    border: 3px solid black;
}
.cartImage{
    width: 100px;
}

@media (max-width:620px){
    footer{
        flex-direction: column;
    }
    .category{
        display: none;
    }
    .eachproduct{
        width: 100%;
    }
}


